
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h1>PDF Raporları</h1>
<a href="/ExcelReport/CustomerExcelReport" class="btn btn-secondary">Excel Rapor</a>