
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h1>PDF Raporları</h1>
<a href="/PdfReport/StaticPdfReport" class="btn btn-secondary">Statik Rapor</a>
<h1>PDF Raporları 2</h1>
<a href="/PdfReport/StaticCustomerReport" class="btn btn-secondary">Müşteri Raporu</a>
